<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/material")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    <!-- Latest compiled and minified CSS -->


</head>
<body>
    <i class="glyphicon glyphicon-shopping-cart" ></i>
    <div class="header">
        <div class="shopping-cart">
            <div class="glyphicon glyphicon-shopping-cart">
                <div class="cart-button">(0)</div>

            </div>


        </div>
    </div>
    <button id="sterge-cos" class="btn btn-mdb-color" onclick="basketModel.stergetot()">Sterge tot</button>
    <button id="afiseaza-cod" class="btn btn-deep-purple" onclick="basketModel.afiseazaCos()">Afiseaza Cos</button>


    <div class="container">
        @RenderBody()
        <hr />
        
    </div>
    <button class="fab"><i class="glyphicon glyphicon-shopping-cart white-text"></i></button>

   
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/material")
    @Scripts.Render("~/bundles/myscript")
    @RenderSection("scripts", required: false)
</body>
</html>
