@model IList<TyresStore.Repository.Models.Basket>

@if (Model.Count != 0)
{
    int pret=0;
    

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>

                <td>ID</td>
                <td>Time</td>
                <td>Price</td>
                <td>Cant</td>

            </tr>
        </thead>


        <tbody>
            @foreach (var tyre in Model)
            {

                pret += tyre.cant * tyre.pret;
                <tr>
                    <td>@tyre.TyreId</td>
                    <td>@tyre.AddedDate</td>
                    <td>@tyre.pret</td>
                    <td>@tyre.cant</td>
                    <td>  <button type="button" class="btn btn-mdb-color default-color" onclick="basketModel.adaugaCantitate(@tyre.TyreId)">+</button></td>
                    <td>  <button type="button" class="btn btn-mdb-color " onclick="basketModel.stergeCantitate(@tyre.TyreId)">-</button></td>


                </tr>
            }


        </tbody>
    </table>

    <div class="container">
        <button type="button" class="btn btn-mdb-color default-color">Finalizeaza</button>
        <h3>Pret total: @pret</h3>

    </div>
</div>






}
else
{<h4 class="text-center">Cosul este gol</h4>}
    




