@model IList<TyresStore.Repository.Models.Vehicle>
@{
    ViewBag.Title = "Home Page";
}
@foreach (var vehicle in Model)
{
    <p>@vehicle.Manufacturer</p>
    <p>@vehicle.Model</p>
    <p>@vehicle.Year</p>
    <p>@vehicle.Color</p>
    <p>@vehicle.ID</p>
    <br />

}